@import '../../styles/colors';

.panel {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding: 20px;
  background: $medium-gray;
  border-radius: 4px;

  &__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
  }
}
