@import '../../styles/colors';
@import '../../styles/typography';

.form-group {
  .form-input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    color: $basic;
    font-family: $mainFont;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 4px;

    &::placeholder {
      color: $gray;
    }

    &:focus {
      outline-color: $gray;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
