@import '_fonts.scss';
@import '_colors.scss';

h1 {
  color: $basic;
  font-weight: 400;
  font-size: 64px;
  font-family: $mainFont;
  font-style: normal;
  line-height: 75px;
  letter-spacing: -2%;
}

h2 {
  color: $basic;
  font-weight: 400;
  font-size: 40px;
  font-family: $mainFont;
  font-style: normal;
  line-height: 75px;
  letter-spacing: -2%;
}

.accent-title {
  @extend h2;

  display: inline-block;
  width: fit-content;
  line-height: normal;
  background: $primary-to-secondary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  color: $basic;
  font-size: 24px;
  font-family: $mainFont;
  font-style: normal;
  line-height: 75px;
  letter-spacing: -2%;
}

body {
  color: $basic;
  font-size: 16px;
  font-family: $mainFont;
  font-style: normal;
}

.bold {
  color: $basic;
  font-weight: bold;
  font-size: 16px;
  font-family: $mainFont;
}

.small {
  color: $basic;
  font-size: 14px;
  font-family: $mainFont;
}

.btn-text {
  color: $basic;
  font-size: 14px;
  font-family: $mainFont;
  text-transform: uppercase;
}

a {
  color: $primary;
  font-size: 16px;
  font-family: $mainFont;
  text-decoration: underline;
}
