@import '../../styles/_colors';
@import '../../styles/_fonts';

.container {
  background: linear-gradient(180deg, $primary 0%, rgba(255, 255, 255, 0) 100%), $secondary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
}

.content {
  padding: 30px;
  background: $white;
  border-radius: 4px;
  height: 100vh;
  margin: 30px;
}
